<div class="container_16">
	<div class="grid_1">&nbsp;</div>
	<div class="section footer grid_13">
		<%= render :partial => 'shared/sectionTitle', :locals => {:sectionTitle => "links"}  %>
		<br class="clear" />
		<div class="article prefix_1 grid_13">
			<div class="grid_5 alpha omega">
				<h2>About</h2>
				<p>Joseph Southern. Grew up in Texas. Writes code. Makes things. 
					Lives with his girlfriend, Jamie, and her 
					nephew on a street named ChuckBerry.</p>
			</div>
			
			<div class="prefix_1 grid_2">
				<h2>Links</h2>
				<ul class='footerMenu'>
					<li><a href="home">nervous yak</a></li>
					<li><a href="http://twitter.com/josephsouthern">twitter</a></li>
				</ul>
			</div>
			
			<div class="prefix_1 grid_2">
				<h2>Menu</h2>
				
				<%= render :partial => 'shared/menuItems', :locals => {:menuClass => 'footerMenu'} %>
				
			</div>
		</div>
		
	</div>

</div>

