<div class="header">
	<%= image_tag("redCircle.gif", :alt => "RedCircle", :class => "redCircle", :width => "180" ) %>


	<div class="header_line" >
		<span class="header_name">
			joseph southern
		</span>
		<%= render :partial => 'shared/menuItems', :locals => {:menuClass => 'header_menu'} %>
	</div>

	
</div>

