
<div class="section_title prefix_1 grid_11">
	<table width=100%>
		<tr>
			<td class="section_title_name"><%= sectionTitle.gsub(" ", "\302\240") %>&nbsp;</td>
			<td width=100%><hr class="section_title_hr" />&nbsp</td>
		</tr>
	</table>	
	
</div>