<% content_for :title, "resume" %>
<div class='resume'>
	<p>
		Joseph Southern is a developer with over a dozen years of experience and two degrees in Computer Science.  
	</p>

	<div align='center'><strong>&sect; Experience</strong><a name="experience"/></div><hr class="section_title_hr"/>
	<br/>

	<strong>Manager, Sogeti USA</strong> Houston, TX 2007-Present
	<p>Currently leading a team of three developers at a major oil services company.  Uses .Net MVC to create internal websites for Human Resources with a user base of over 15,000. 
	</p>

	<strong>Software Engineer&ndash;GIS, Boeing</strong> Washington, D.C. 2004&ndash;2007<br/>

	<p>Boeing&mdash;Integrated Defense Systems&mdash;Space and Intelligence Systems&mdash;Ground Systems. <br/><br/>
	RTERM:  On three person R&amp;D project that created Real-Time Earth Reference Model (RTERM) that indexed and catalogued data from satellites, intelligence systems, and legacy data repositories into one search engine.

	</p>



	<ul class="grid_9 prefix_1 alpha">
	  <li>Knowledge of intelligence data. Imagery&mdash;IMINT, Signal&mdash;SIGINT, Geospatial&mdash;GEOINT, Human&mdash;HUMINT, Digital Terrain Elevation Data&mdash;DTED</li>
	  <li><%= image_tag("resume/resume-battlescape.jpg", :alt => "Battlescape", :class => "resumeimage", :width => "200" ) %>Developed C++ add-on to Boeing BattleScape that allowed a user to draw a rectangle on a globe and query the selected region for spatially indexed data (see above), then display the results on the globe.
		</li>
	  <li>Created multi-threaded C# application that would mimic HUMIT.  The application would read in dozens of RSS feeds from newspapers around the world and process each article to determine the location of the story and other relevant information.  The application then stored the article in an IBM DB/2 database with Spatial Extender.  Another application would add the metadata to the RTERM System.</li>
	</ul>

	<br class="clear"/>
	<br/>

	<strong>Master’s degree (See <a href="#education">education</a>)</strong> 2002&ndash;2004

	<br/><br/>

	<strong>Programmer&ndash;GIS, TXU Communications</strong> Conroe, TX 1998&ndash;2002

	<p>Entry level programming position on Geospatial Information System (GIS) for tracking outside telephony 
	infrastructure.  Developed and maintained GIS system using Geospatial Modeling Language (GML), SQL, PL/SQL, UNIX Scripting, and C++.
	<%= image_tag("resume/resume-GIS.jpg", :alt => "GIS", :class => "resumeimage", :width => "125" ) %>
	<br/>

	
	<br/>Projects:

		<ul class="grid_6 prefix_1 alpha">
			<li>Using Autodesk GIS Design Server (formerly SHL Vision*) to create mobile client for 30+ technicians.</li>
			<li>Designed and created workflow using GIS tools and UNIX scripting to provide engineers with GIS data in different formats (pdf, AutoCad).</li>
		</ul>
	
	</p>

	<br class="clear"/><br/>

	<div align='center'><strong>&sect; Education</strong><a name="education"/></div><hr class="section_title_hr"/>

	<br/>
	<strong>Master’s of Computer Science<br/>
	Texas A&amp;M University</strong>  College Station, TX 2004<br/>
	<p>
		Class project that became poster for ACM/IEE&ndash;CS Joint Conference on Digital Libraries 2004: &ldquo;Sharing Culture Shock through a Collection of Experiences&rdquo;&ndash;Digital collections can serve as a medium for sharing sensations and experiences, through the form of personal stories. Woezo is a collection of stories, designed to help international students overcome culture shock, as they cross borders and enter the U.S.
	</p>
	<ul class="grid_9 prefix_1 alpha"><li>
	Babatunde Azeez, Andruid Kerne, Joseph Southern, Bridgette Summerfield, Isaac Aholu, Eshita Sharmin, &ldquo;Sharing Culture Shock through a Collection of Experiences&rdquo;, jcdl, pp.402&ndash;402, Fourth ACM/IEEE&ndash;CS Joint Conference on Digital Libraries (JCDL&lsquo;04), 2004
	</li></ul>

	<br class="clear"/><br/>

	<strong>Bachelor of Science&ndash;Computer Science<br/>
	Sam Houston State University</strong>  Huntsville, TX 1998
</div>
