/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
@import "_01_reset.css.scss";
@import "_02_960_16_col.css.scss";
@import "_header.css.scss";
@import "site.css.scss";


/***********************************************
Sticky Footer by Ryan Fait http://ryanfait.com/
************************************************/

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -220px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 220px; /* .push must be the same height as .footer */
}
/************End of Sticky Footer *************/



