// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.postHeader{
	font-family: 		futura-pt,sans-serif;
	font-style: 		italic;
	font-weight: 		400;
	font-size:			1.5em;
	float:				right;
}

.postFooter{
	font-family: 		futura-pt,sans-serif;
	font-style: 		italic;
	font-weight: 		500;
	font-size:			1.25em;
	float:				right;
	text-align:			right;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 2px solid black;
}

