
$darkBlue: 		#1a212c;
$lightBlue: 	#71b095;
$beige:			#dedba7;

body{
	background-color:	$darkBlue;
	font-size:			100%;
}

p{
 	padding-bottom:		1em;
	padding-top:		1em;
	
	font-color:			$darkBlue;
	font-family: 		futura-pt,sans-serif;
	font-style: 		normal;
	font-weight: 		300;
	font-size:			1.25em;
	line-height: 		1.25em;
}

a{
	text-decoration:	none;
	color:				$darkBlue;
}

a:hover{
	text-decoration:	underline;
}





.header{
	padding-top:		6em;
	margin-bottom:		6em;
}

.header_line{
	background-color:	$lightBlue;
	height:				3em;
	margin-left:		420px;
}

.header_name{
	font-color:			$darkBlue;
	font-family: 		futura-pt,sans-serif;
	font-style: 		normal;
	font-weight: 		500;
	font-size:			2em;
	line-height: 		1.5em;
	margin-left: 		280px;
}

.redCircle{
	position:			absolute; 
	float:				right; 
	margin-left:		740px; 
	margin-top:			-50px;
	z-index:			-1;
}



/************Section***********/
.section{
	background-color:	$beige;
	color:				$darkBlue;
	
	border:				20px solid $lightBlue;
	padding-top:		1.5em;
	padding-bottom:		1.5em;
	margin-top:			3em;
}

.section_title{
	font-family: 		futura-pt,sans-serif;
	font-style: 		normal;
	font-weight: 		500;
	font-size:			2em;
	margin-bottom:		0em;
	height:				1.5em;
}

.section_title_name{
	color:				$darkBlue;
}
hr.section_title_hr{
	background-color:	$darkBlue;
	color: 				$darkBlue;

	height: 			5px;
	margin-top:			0.7em;

}
.article{
	font-family: 		futura-pt,sans-serif;
	font-style: 		normal;
	font-weight: 		300;
	color:				$darkBlue;
}

.article hr {

	border:				$darkBlue 2px;
	border-style: none none dotted;
	height: 			2px;
}

/************Footer************/

.footer{
	border-bottom: 		0em;
}

.footerMenu{
	font-family: 		futura-pt,sans-serif;
	font-style: 		normal;
	font-weight: 		200;
	font-size:			1.25em;
	list-style-type: 	none;	
	padding-top:		1em;
}


/*******TextSelectionColor*****/
::selection {
	background: 		#7FBFB9;
	color:				$beige;
}
::-moz-selection {
	background: 		#7FBFB9;
	color:				$beige;
}

/************Helpers***********/
.left{
	float:				left;
}

.right{
	float:				right;
}
